[Desktop Entry]
Type=Application
Version=4.2.10
Name=BasicChessEndgames
Comment=Generate a chess position and play with it
Exec=basicchessendgamestrainer
Icon=icon
Terminal=false
Categories=Games;